:root {
    font-family: "Open Sans";
}

.list {
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    outline: 1px solid darkgrey;
    padding: 10px;
}

.item {
    font-weight: 0;
    height: 210px;
    width: 170px;
    outline: 3px solid grey;
    border-radius: 7px;
    padding-left: 10px;
    box-sizing: border-box;
}

.item p {
    font-weight: initial;
}

.menu svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    fill: white;
}

.menu {
    padding: 0;
    margin: 0;
    position: fixed;
    left: 5px;
    bottom: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.menu button {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 35px;
    width: auto;
    font-size:medium;
    border-radius: 5px;
    background-color: rgb(0, 221, 0);
    color: white;
    border: transparent;
    padding: 0px 5px;
    font-family: "Open Sans";
}

.menu button:hover {
    cursor: pointer;
    background-color: rgb(2, 195, 2);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.474);
    z-index: 2;
}
.off {
    display: none;
}

.backdrop form {
    background-color: white;
    height: 600px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backdrop form ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.backdrop form h2 {
    text-align: center;
}

.backdrop form input {
    width: 100%;
    background-color: white;
    border: transparent;
    outline: 1px solid grey;
    height: 25px;
    border-radius: 4px;
}

.backdrop form li {
    width: 340px;
}

.backdrop form input::placeholder {
    font-family: "Open Sans";
}

.backdrop button {
    position: absolute;
    bottom: 10px;
    left: 150px;
    font-size:medium;
    border-radius: 5px;
    background-color: rgb(0, 221, 0);
    color: white;
    border: transparent;
    padding: 0px 5px;
    font-family: "Open Sans";
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
}

.backdrop button:hover {
    cursor: pointer;
    background-color: rgb(2, 195, 2);
}

.hov:hover {
    outline: 1px solid rgb(86, 86, 86);
    cursor: pointer;
}

.searchbar {
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    width: 250px;
    height: 36px;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}
.searchbar input {
    width: 100%;
    height: 100%;
    font-size: large;
    box-sizing: border-box;
    border: transparent;
}
.searchbar input:focus {
    outline: transparent;
}
.searchbar span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 36px;
    border-left: 1px solid black;
}
.searchbar svg {
    width: 42%;
    height: 42%;
}
.vis {
    transform: translateY(-300%);
}